@use "../abstracts/variables" as *;

div[class*="__grid"]{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
    grid-template-rows: auto;
    justify-items: center;
    gap: 5px;
}

